{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="header-container">
    <div class="container-fluid">
        <div class="row justify-content-around align-items-center">
            <div class="col-md-6 col-sm p-md-3 p-3">
                <h3 class="munsell text-center text-bolder text-md-start text-sm-center mb-3 p-2">Empowering Lives,
                    Ending
                    Exploitation</h3>
                <p class="text-white text-md-start text-sm-center">Human trafficking and modern slavery affect millions
                    of
                    people
                    worldwide, depriving individuals of their freedom and dignity. Our mission is to combat these
                    injustices
                    through
                    awareness, education, and actionable solutions.</p>
            </div>
            <div class="col-md-6 col-sm-10 col-lg-4 p-sm-0 text-end">
                <div id="contact" class="m-3 ">
                    <!-- The create_report view is in the 'reports' app -->
                    <form action="{% url 'create-report' %}" method="post"
                        class="form text-center text-md-end text-sm-center">
                        {% csrf_token %}
                        {{ report_form | crispy }}
                        <button type="submit" class="btn btn-lg-lg bt-sm-sm btn-info mx-md-auto">Report
                            anonymously</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="testimonies">
    <h2 id="carousel-stories-heading">Survivor stories</h2>
    <div id="story-carousel" class="carousel slide">
        <div class="carousel-inner">
            {% for story in homepage_stories %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="carousel-story-container">
                    <h5>{{ story.title }}</h5>
                    <hr>
                    <p>{{ story.content }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev " type="button" data-bs-target="#story-carousel" data-bs-slide="prev">
            <span aria-hidden="true">
                <img class="carousel-arrows " src="{% static 'img/left-arrow-story-carousel.svg' %}" alt="Previous">
            </span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#story-carousel" data-bs-slide="next">
            <span aria-hidden="true">
                <img class="carousel-arrows " src="{% static 'img/right-arrow-story-carousel.svg' %}" alt="Next">
            </span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <hr class="carousel-seperator munsell">
    <div class="text-center">
        <a href="{% url 'stories' %}" class="btn" id="read-more-stories-link">Read more survivor stories</a>
    </div>
</div>

<div id="advice">
    <div class="container-fluid">
        <div class="row p-3 pt-5">
            <div class="reason col-lg-6 col-md">
                <h3 class="text-center">Recognizing Signs</h3>
                <br>
                <p>Human trafficking and modern slavery are global issues affecting millions. Recognizing potential
                    victims
                    is crucial. Key signs include restricted movement, physical abuse, lack of personal documents,
                    fearful
                    behavior, excessive work hours, and poor living conditions. If you suspect someone is being
                    trafficked
                    or enslaved, it's important to act. Click here to get the full guide on how to recognize if you or
                    someone you know needs help.</p>
                <br>
                <div class="btn-placement">
                    <a href="{% url 'advice' %}" class="btn btn-lg btn-info mb-3">Click to learn more</a>
                </div>
            </div>
            <div class="col-lg-6 col-md justify-content-center align-items-center text-center p-0">
                <img src="{% static '/img/home_1.jpg'%}" alt="Human trafficking happens everywhere"
                    class="image-control" />
            </div>
        </div>
    </div>
</div>

<!-- Latest News Section -->
<div class="container-fluid">
    <div class="row mt-5 bg-munsell px-3">
        <h2 class="text-center">Latest News</h2>
        {% for news in latest_news %}
        <div class="col-md-4 mb-3 news-container-mobile">
            <div class="card h-100 h-md-50">
                <div class="image-container">
                    <img src="{{ news.image.url }}" class="card-img-top" alt="{{ news.title }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ news.title }}</h5>
                    <p class="card-text">{{ news.description|truncatechars:100 }}</p>
                </div>
                <div class="card-footer text-end">
                    <a href="{{ news.url }}" class="btn btn-primary" target="_blank">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="header-container4" id="assessment">
    <div class="container">
        <h3 class="ngo-head bg-ngo mt-5">The following NGO's and Governmental pages can prove you with more information:</h3>
        <div class="d-none d-lg-block">
            <div class="col-6 mt-5">
                <div class="row bg-ngo mt-5">
                    <h6 class="sign-heading text-center">General Awareness and Advocacy</h6>
                    <a class="ngo-link mt-2" href="https://www.gov.uk/government/publications/modern-slavery-training-resource-page/modern-slavery-training-resource-page">UK GOV: Modern slavery training</a>
                    <a class="ngo-link" href="http://southyorksmsp.co.uk/resources-and-training/">South Yorkshire Modern Slavery Partnership</a>
                </div>
                <div class="row bg-ngo mt-5">
                    <h6 class="sign-heading text-center">Support and Resources</h6>
                    <a class="ngo-link mt-2" href="https://www.stopexploitationherts.org.uk/index.php/training-and-resources/">Hertfordshire Modern Slavery Partnership</a>
                    <a class="ngo-link" href="https://hopeforjustice.org/resources-uk/">Hope for Justice: Resources UK & Further Reading</a>
                </div>
                <div class="row bg-ngo mt-5">
                    <h6 class="sign-heading text-center">Educational Platforms</h6>
                    <a class="ngo-link mt-2" href="https://www.e-lfh.org.uk/programmes/modern-slavery/">Elearning for healthcare</a>
                    <a class="ngo-link" href="https://www.gov.wales/slavery">Wales GOV: Equality and human rights collection</a>
                </div>
                <div class="row bg-ngo mt-5 mb-5">
                    <h6 class="sign-heading text-center">Community Engagement</h6>
                    <a class="ngo-link mt-2" href="https://www.local.gov.uk/topics/community-safety/modern-slavery/%20independent-anti-slavery-commissioner">Local Government Association</a>
                    <a class="ngo-link" href="https://preventht.org/programs/community-empowerment/">Anti-Trafficking International's Community Ambassador Program</a>
                </div>
            </div>
            <div class="col-6"></div>
        </div>
        <div class="d-block d-lg-none">
            <div class="col mt-5">
                <div class="row bg-ngo mt-3 ngo-margin">
                    <h6 class="sign-heading text-center">General Awareness and Advocacy</h6>
                    <a class="ngo-link mt-2" href="https://www.gov.uk/government/publications/modern-slavery-training-resource-page/modern-slavery-training-resource-page">UK GOV: Modern slavery training</a>
                    <a class="ngo-link" href="http://southyorksmsp.co.uk/resources-and-training/">South Yorkshire Modern Slavery Partnership</a>
                </div>
                <div class="row bg-ngo mt-3 ngo-margin">
                    <h6 class="sign-heading text-center">Support and Resources</h6>
                    <a class="ngo-link mt-2" href="https://www.stopexploitationherts.org.uk/index.php/training-and-resources/">Hertfordshire Modern Slavery Partnership</a>
                    <a class="ngo-link" href="https://hopeforjustice.org/resources-uk/">Hope for Justice: Resources UK & Further Reading</a>
                </div>
                <div class="row bg-ngo mt-3 ngo-margin">
                    <h6 class="sign-heading text-center">Educational Platforms</h6>
                    <a class="ngo-link mt-2" href="https://www.e-lfh.org.uk/programmes/modern-slavery/">Elearning for healthcare</a>
                    <a class="ngo-link" href="https://www.gov.wales/slavery">Wales GOV: Equality and human rights collection</a>
                </div>
                <div class="row bg-ngo mt-3 mb-3 ngo-margin">
                    <h6 class="sign-heading text-center">Community Engagement</h6>
                    <a class="ngo-link mt-2" href="https://www.local.gov.uk/topics/community-safety/modern-slavery/%20independent-anti-slavery-commissioner">Local Government Association</a>
                    <a class="ngo-link" href="https://preventht.org/programs/community-empowerment/">Anti-Trafficking International's Community Ambassador Program</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}