{% extends "base.html" %}

{% load static %}

{% block content %}

<h2 class="text-center mt-3">Why this is imporant</h2>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <!-- Photo by <a href="https://unsplash.com/@hermez777?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Hermes Rivera</a> on <a href="https://unsplash.com/photos/man-in-black-jacket-holding-black-and-white-quote-board-0Uw43gNMwbQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
       -->
            <img src="../../../static/img/advice_head.jpg" alt="Human trafficking happens everywhere" class="image-high">
        </div>
        <div class="col">
            <p class="reason">Human trafficking and modern slavery are severe human rights violations affecting millions worldwide. These crimes involve exploiting individuals through force, fraud, or coercion for labor or sex.</p>
            <p class="reason">Prevention and awareness are crucial due to the scale and hidden nature of the problem. </p>
            <p class="reason">An estimated 21 million people globally are trapped in modern slavery, with victims often unable to seek help due to language barriers or fear. Natural disasters and political instability can increase vulnerability to trafficking, while over 40% of U.S. trafficking investigations involve child sexual exploitation. </p>
            <p class="reason">The economic impact is significant, as trafficking occurs in various sectors including domestic work, factories, and agriculture. </p>
            <p class="reason">Raising awareness helps communities recognize signs of trafficking, potentially saving lives. Prevention efforts, such as education and addressing root causes like poverty and lack of opportunities, are essential in combating this global issue. </p>
            <br>
            <p class="reason">By understanding and actively working against human trafficking, we can protect vulnerable individuals and create a safer, more just world for all.</p>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <h4>
            <a href="#" class="btn btn-lg btn-edit">Report suspicious activity</a>
        </h4>
    </div>
    <br>
</div>


{% endblock %}