/*main tags rules*/
html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

/* Django messages */

#msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#django-msg {
    height: 2.5em;
    padding: 0;
    margin: auto;
    display: flex;
    align-items: center;
    width: 250px;
    top: 0;
    border-radius: 5px;
    border: 1px solid darkgray;
    box-shadow: #8080805e 1px 1px 1px 0px;
    background-color: #ffffff;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

#msg-content {
    margin: auto;
}

.msg-btn {
    margin: 5px !important;
}

/* General styles */

.bg-head {
    background-color: #F5F1E3 !important;
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
}

.links {
    text-decoration: none;
    color: black;
}

.links:hover {
    text-decoration: none;
}

.btn-placement {
    display: flex;
    justify-content: center;
}

/* Footer */

#staff-login-link {
    text-decoration: none;
}

#page-footer {
    padding-top: 1.5em;
    padding-bottom: 1em;
    margin-top: auto;
}

/* Buttons */

.btn-edit {
    color: black !important;
    background-color: #b4f6ff !important;
    text-decoration: none;
    width: fit-content;
    display: inline-block;
    border: 1px solid #7d7d7d;
    border-radius: .25rem;
}

/* Images */

.image-high {
    max-height: 70vh;
    width: auto;
}

@media (max-width:480px) {
    .image-high {
        max-height: 50vh;
        width: auto;
    }

}

/* Home Page */

.main-title {
    font-size: 1.2em;
    padding: 1em 0;

    width: fit-content;
    display: inline-block;
}

.background {
    border: 1px solid #1B9AAA;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
}

.outlined-text {
    text-shadow:
        -1px -1px 0 #313638,
        1px -1px 0 #313638,
        -1px 1px 0 #313638,
        1px 1px 0 #313638;
}

.hide {
    display: none;
}

#nav-logo {
    width: 3em;
    min-height: 100%;
    display: inline-block;
    position: relative;
    flex-shrink: 1;
    margin: 0 1em;
}

#nav-logo::before {
    content: "";
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(../img/logo.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    z-index: 1;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.bg-ngo {
    border: 1px solid #313638;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}

.ngo-head{
    text-align: center;
    align-content: start;
}

.ngo-margin {
    margin-right: 5px;
    margin-left: 5px;
}

.ngo-link {
    text-decoration: none;
    color: black;
}

.ngo-link:hover {
    text-decoration: underline;
    color: #126a75;
}

@media (min-width:768px) {
    .main-title {
        font-size: 1.6em;
    }

    #nav-logo {
        width: 4em;
    }
}

@media (min-width:1200px) {
    .main-title {
        font-size: 2em;
    }

    #nav-logo {
        width: 5em;
    }
}

/* Testeminies */

.reason {
    padding: 10px;
}

#testimonies {
    padding: 2em;
    border: 0.3em solid black;
    border-style: double;
    border-right: 0;
    border-left: 0;
    /* margin: 0.2em; */
    border-color: #6c6c6c;
    background: #ffffff;
}

/* Advice */

.sign-heading {
    text-decoration: underline;
    text-decoration-color: #126a75;
    text-underline-offset: 8px;
    padding-left: 10px;
}

.impoartant-msg {
    font-style: italic;
    padding: 10px;
}

.impoartant-msg:hover {
    border: 2px solid #313638;
    border-radius: 5px;
    color: red;
    font-weight: 700;
    font-size: larger;
}

/* This color could also be the "bone" color */
.testemony:hover {
    background-color: #F5F1E3;
    font-weight: 500;
}

.testemony:hover>.text-muted {
    color: #313638 !important;
}

/* Report Form */

.full-form {
    margin: 15px;
}

.login-form .form-group label {
    padding-left: 0;
}

.form-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    margin-left: 10%;
    text-align: left;
}

.form-group input,
.form-group select,
.form-group textarea {
    margin-left: 10%;
    width: 80%;
}

#add-details-button {
    float: right;
    margin-right: 15px;
}

.pl {
    margin-left: 15px;
}

/* Colors */

.onyx {
    color: #313638;
}

.munsell {
    color: #1B9AAA;
}

.bone {
    color: #DDDBCB;
}

.oldlace {
    color: #F5F1E3;
}

.white {
    color: #FFFFFF;
}

.bg-onix {
    background-color: #313638 !important;
}

.bg-munsell {
    background-color: #19a3b650 !important;
}

/*Nav bar elements*/

.nav-link {
    color: white !important;
    position: relative;
    z-index: 10;
}

.nav-link:hover {
    color: #1B9AAA !important;
    transition: 0.5s ease-in-out all;
}

.nav-link::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    border-bottom: #1B9AAA solid 1px;
    width: 0%;
    text-align: center;
    transition: all 0.3s ease-in-out;

}

.nav-link:hover::before {
    width: 100%;
}

.staff-nav {
    float: right;
    margin-left: 30px;

}

@media (max-width:990px) {

    .nav-link:hover::before {
        width: 15%;
    }
}

/* Homepage carousel */
#story-carousel {
    max-width: 1200px;
    margin: auto;
}

#carousel-stories-heading {
    text-align: center;
    padding-top: 1em;
}

.carousel-seperator {
    max-width: 60%;
    margin: auto;
}

.carousel-story-container {
    display: flex
;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 15em;
    text-align: center;
    width: 70%;
    margin: 1em auto;
    border: 0.3em solid #aecfd391;
    border-style: double;
    border-left: 0;
    border-right: 0;
    border-radius: 3%;
}

.carousel-arrows {
    width: 64px;
    max-width: 100%;

}

.carousel-control-next,
.carousel-control-prev {
    max-width: 15%;
}

.carousel-control-next:not(:hover),
.carousel-control-prev:not(:hover) {
    opacity: 0.5;
}

#read-more-stories-link {
    text-decoration: none;
    color: black;
    margin: 1em;
    display: inline-block;
    font-weight: bold;
    border: 1px solid #bbbbbb;
}

/* Workers */

.login-form {
    max-width: fit-content;
    margin: auto;
}

.login-form .form-group {
    margin: 2em 0;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-all {
    margin: 15px;
}