<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Styles -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />

    <title>Hackathon</title>
  </head>
  <body>
    <h1 class="munsell text-center mt-5">
      Human Trafficing and Slavery Prevention
    </h1>
    <nav>
      <p>Here goes the navbar - possibly invisible</p>
    </nav>

    <!-- Django messages -->

    <!-- <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          {% for message in messages %}
          <div class="alert {{ message.tags }}" id="msg" role="alert">
            {{ message | safe }}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endfor %}
        </div>
      </div>
    </div> -->

    <main class="flex-shrink-0 light-bg">
      {% block content %}
      <!-- Content Goes here -->
      {% endblock content %}
    </main>
  </body>
</html>
